html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(132, 119, 0);
}
.log-in-form-container{
  width: 40%;
  height: 70%;
  background-color: #101820FF;
  border-radius: 20px;
  transition: all ease-in-out 0.5s;
}
.log-in-title{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}
.log-in-info-container{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.log-in-input{
    width: 250px;
    height: 50px;
    border-radius: 6px;
    border: 2px solid white;
    color: black;
    font-size: large;
    font-weight: 600;
    transition: all linear 0.25s;
}
.log-in-input::placeholder{
    color: rgb(27, 27, 27);
    font-weight: 600;
    font-size: small;
    transition: all linear 0.25s;
}
.log-in-input:focus::placeholder{
    color:aliceblue;
    transform: translateY(-250%);
}
.log-in-input:focus{
    background-color: rgb(24, 37, 51);
    color: white;
}
.buttons-container{
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.form-button{
    width: 100px;
    height: 50px;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 8px;
    cursor: pointer;
    font-size: large
}
.log-in{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all ease-in-out 0.3s;
}
.register{
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    transition: all ease-in-out 0.3s;
}
.register-info-container{
    display: flex;
    width: 100%;
    height: 60%;
}
.left-half{
    width: 50%;
    height: 100%;
}
.right-half{
    width: 50%;
    height: 100%;
}
.buttons-container-register{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}
