html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Add styles for main container */
.main-container {
    display: flex;
    height: 100vh;
}

/* Add styles for sidebar container */
.sidebar {
    width: 20%;
    background-color: black;
    color: white;
    padding: 20px;
}

/* Add styles for content container */
.content {
    width: 80%;
    padding: 20px;
}

.inline-list li {
    list-style: none;
    display: inline;
    padding-left: 40px;
    font-size: 20px;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
}

.leftLogo {
    margin-right: 10px;
}

.StartBlock {
    margin-right: auto;
    gap: 5%;
}

.rightBlock {
    background-color: red;
    width: 15%;
    display: flex;
    gap: 4%;

}

/* .divBuxheti {
    width: 45%;
    background-color: #fafbfc;
    align-items: center;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
} */
.divBuxheti {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #ccc;
    width: 50%;
}

.divBuxheti img {
    width: 20px;
    height: 20px;
    padding-right: 10px;

}

.divBuxheti:hover {
    background-color: #999;
    cursor: pointer;
}

.divBuxheti a {
    display: none;
}

.divBuxheti p {
    text-align: center;
}


* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.sidebar li {
    margin-left: 45px
}

.user-table th {
    background-color: #ddd;
    font-weight: bold;
    padding: 8px;
    text-align: left;
}

.user-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.user-table td {
    padding: 8px;
}

.edit-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.delete-button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #3e8e41;
    color: white;
}
.dashboard-div-button-container{
     width: 100%;
     height: 40%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.dashboard-div-button{
     width: 50%;
     height: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #4CAF50;
     border-radius: 7px;
     cursor: pointer;
}
.dashboard-div-button:hover{
     background-color:#3e8e41;
}
.dashboard-buttons-layout{
    height: 25%;
    width: 100%;
    text-decoration: none;
}