/* html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(132, 119, 0);
}
.log-in-form-container{
  width: 40%;
  height: 70%;
  background-color: #101820FF;
  border-radius: 20px;
  transition: all ease-in-out 0.5s;
}
.log-in-title{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}
.log-in-info-container{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.log-in-input{
    width: 250px;
    height: 50px;
    border-radius: 6px;
    border: 2px solid white;
    color: black;
    font-size: large;
    font-weight: 600;
    transition: all linear 0.25s;
}
.log-in-input::placeholder{
    color: rgb(27, 27, 27);
    font-weight: 600;
    font-size: small;
    transition: all linear 0.25s;
}
.log-in-input:focus::placeholder{
    color:aliceblue;
    transform: translateY(-250%);
}
.log-in-input:focus{
    background-color: rgb(24, 37, 51);
    color: white;
}
.buttons-container{
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.form-button{
    width: 100px;
    height: 50px;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 8px;
    cursor: pointer;
    font-size: large
}
.log-in{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all ease-in-out 0.3s;
}
.register{
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    transition: all ease-in-out 0.3s;
}
.register-info-container{
    display: flex;
    width: 100%;
    height: 60%;
}
.left-half{
    width: 50%;
    height: 100%;
}
.right-half{
    width: 50%;
    height: 100%;
}
.buttons-container-register{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}
#validationInfo{
    color: aliceblue;
}
.valid-info-container{
    width: 60%;
    height: 10%;
    transform: translateY(-107%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.valid-info-container-log-in{
    width: 40%;
    height: 10%;
    transform: translateY(140%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#logInValidationInfo{
    color: aliceblue;
} */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
 
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
 
.container {
    width: 450px;
    height: 475px;
}
 
.container * {
    font-family: 'Roboto', sans-serif;
}
 
.container {
    background-color: #1C1D1F;
    border: 2px solid #101012;
}
 
.container .title-bar {
    height: 20px;
    color: #FFFFFF;
}
 
.container .title-bar div {
    float: right;
    line-height: 10px;
    padding: 10px;
    cursor: pointer;
}
 
.container .title-bar div:hover {
    background-color: #282a2c;
}
 
.container .content {
    margin: 30px;
}
 
.container .content .logo {
    background-image: url('./assets/img/noctlogo1.png');
    background-size: cover;
    width: 270px;
    height: 80px;
    margin: 50px auto;
}
 
.container .content .form * {
    margin: 6px 0;
}
 
.container .content .form .button-group .btn {
    width: 49%;
}
 
.container .content .form .button-group .btn:nth-child(2) {
    float: right;
}
 
.container .content .form .button-group .btn:nth-child(1) {
    float: left;
}
 
.container .content .form .button-group .btn.login {
    background-color: #11f285;
}
 
.container .content .form .button-group .btn.login:hover {
    background-color: #0eca6f;
    /* background-color: #f2117e; */
}
 
.container .content .form .forgot-password {
    text-decoration: none;
    color: #5D5D5D;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
 
.container .content .form .forgot-password:hover {
    color: #777777;
}
 
.container .content .form .separator {
    border: 1px solid #5D5D5D;
    margin-top: 10px;
}
 
.btn {
    padding: 10px 0;
    width: 100%;
    border: 0;
    outline: 0;
    background-color: #5D5D5D;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}
 
.btn:hover {
    background-color: #505050;
}
 
.textfield {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #1C1D1F;
    color: #FFFFFF;
    border: 2px solid #5D5D5D;
    outline: 0;
}
 
input:focus {
    border: 2px solid #11f285;
}
 
#error {
    color: white !important;
    font-size: 10px;
}
 
.error::before {
    content: '* ';
    color: red;
}
 
* {
    margin: 0;
    padding: 0;
}