<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/profile.css">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../js/products.js"></script>
    <style>
        @media screen and (min-width: 768px) {
          body {
            background-color: black;
          }
        }
          @media screen and (max-width: 767px) {
          body {
            background-color: black;
          }
        }
      </style>
</head>
      <body style="margin: 0;">
        <div class="header" style="width: 100%;">
            <div class="leftLogo">
                <img src="../images/logooo.jpg" width="130px" height="100px" alt="" id="img1">
            </div>
            <div style="margin-left: 3px"class="StartBlock">
                <ul>
    
                    <a href="products.html">
                        <li>Products</li>
                    </a>
                    <a href="../php/index.php">
                        <li>Home</li>
                    </a>
                    <a href="OurStory.html">
                        <li>About us</li>
                    </a>
                    <a href="AboutUs.html">
                    <li>Contact us</li>
                    </a>
    
    
                </ul>
            </div>
    
    
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Kerko te gjitha produktet...">
                <button type="submit" class="searchButton" style="height: 56px;"  ><img src="../images/search (2).png" style="width: 125%; padding-right: 20px;"  alt="">
                </button>
            </div>
     
    
    
            <div class="rightBlock" style="justify-content: flex-end; gap: 4%;">
                <div class="divBuxheti">
                    <img src="../images/download.png" width="30px" alt="" height="30px" id="img2"
                        style=" padding-top: 5px;">
                        <a href="logInForm.html">
                        <p>Llogaria ime</p>
                    </a>
                </div>
    
                <div class="divBuxheti">
                    <img src="../images/iStok.jpg" width="30px" alt="" height="30px" id="img2"
                        style=" padding-top: 5px;">
                        <a href="profie.html">
                    <p>0.0 </p>
                </a>
                </div>
            </div>
        </div>
        <div class="profile-main-container">
            <div class="user-profile-card">
                <div class="profile-card-username-holder"><h1>*ketu shkon username i userit*</h1></div>
                <div class="profile-card-info-container">
                    <h1>Balance: *ketu shkon shuma e parave te userit*</h1>
                    <h1>E-mail: *ketu shkon email i userit*</h1>
                    <h1>Ditelindja: *ketu shkon ditelindja e userit*</h1>
                    <h1>Numri i telefonit: *ketu shkon numri i telefonit te userit*</h1>
                </div>
            </div>
        </div>
</body>
</html>